VITE_FIREBASE_API_KEY=AIzaSyAT7gfzKrRgEAIdQdAqsRi0GFUVOClkv_E
VITE_FIREBASE_AUTH_DOMAIN=ecommerce-demo-751f7.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ecommerce-demo-751f7
VITE_FIREBASE_STORAGE_BUCKET=ecommerce-demo-751f7.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=673767938148
VITE_FIREBASE_APP_ID=1:673767938148:web:f9088441755e7262196771
